@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

/* FONT SIZE */
$fsm-xl:1.3rem;
$fsm-xxl:1.8rem;


/* FONT FAMILY */
$ff-p:'Poppins', sans-serif;
$ff-r:'Raleway', sans-serif;
$ff-ssp:'Source Sans Pro', sans-serif;


/* COLORS */
$black:#000;
$grey:#444;
$red:#a00;
$green:#080;
$yellow:#fd0;
$blue:#00c;
$brown:#944;
$violet:#ee82ee;
$blue-green:#09a;
$white:#fff;

$week-days-brown-hover:#211a;
$week-days-red-dark:#311;
$week-day-sunday-red:#a22;

$calendar-background-dark:#17191C;
$grey-hover:#4449;
$grey-white-hover:#9992;
$black-hover:#0005;
$blue-green_hover:#09a6;
$mainpage-background:#d4d6d6;
$month_day-background_hover:#d4d6d677;


//BUTTONS ADD NOTE STYLE
